@import "components/blur-overlay"


// Colors
$color-main: #8bc34a


html
  height: 100vh
body
  height: 100%



// Content
#slogan
  padding-top: 5rem
  text-align: center
  margin: 0 auto
  z-index: 1
  h1
    font-size: 3rem
    font-weight: bold
  h3
    font-size: 1.5rem
  a.homeActionButton
    display: block
    color: black
    background-color: white
    &:first-child
      margin-bottom: 5px
      color: white
      background-color: $color-main

// mediaqueries
@media (min-width: 768px)
  #slogan
    padding-top: 10rem
    h1
      font-size: 5rem
    h3
      font-size: 2.5rem
      margin: 0.8rem 0 3rem 0
    a.homeActionButton
      font-size: 1.5rem
      height: auto
      padding: 0.5rem 2rem

@media (min-width: 1025px)
  #slogan
    h3
      font-size: 2rem
    a.homeActionButton
      font-size: 1rem
      height: auto
      padding: 0 2rem

