@import "template"
@import "components/banner"
@import "components/busquedaMiLibreria"
@import "components/librosMiLibreria"

// Colors
$color-main: #8bc34a
$color-main-hover: #77ac39
$color-grey-light: #dfe0e6
$color-fb: #3b5998
$color-fb-hover: #324b81
$color-gmail: #dd4b39
$color-gmail-hover: #c43421
$color-dark-grey: rgb(46, 47, 51)

$titulo-seccion: #919496
$texto-seccion: #2e2f33

$button-hover: #46484e

$font-family-main: 'Lato', sans-serif


// Slogan de dentro de #libreria
#libreria-explication
  margin-bottom: 3rem
  h1
    font-size: 2rem
    text-align: center
  p
    text-align: center
    line-height: 1.75rem

#libreria
  padding: 3rem 2rem
  .libreria-section
    padding: 3rem 0 0 0


// <div> que engloba al <Form>
#busqueda-form
  // juntamos las partes del formulario
  .input-field
    margin-bottom: 0
    margin-top: 0
    // Radiobuttons
    p
      margin-bottom: 0
      margin-top: 0
      display: inline-block
      width: 32%
      text-align: center
    input[type="submit"]
      width: 100%
      max-width: 290px
      display: block
      margin: 0 auto
      padding: 0.75rem
      background: #8bc34a
      border: none
      border-radius: 500px
      text-transform: uppercase
      color: white
      font-weight: bold
      letter-spacing: 2px
    &:last-child
      margin-top: 3rem



// mediaqueries
@media (min-width: 768px)

  // Centramos el contenido
  #libreria
    padding: 5rem
