@import "template"
@import "components/banner"

// Colors
$color-main: #8bc34a
$color-main-hover: #77ac39
$color-grey-light: #dfe0e6
$color-fb: #3b5998
$color-fb-hover: #324b81
$color-gmail: #dd4b39
$color-gmail-hover: #c43421
$color-dark-grey: rgb(46, 47, 51)

$titulo-seccion: #919496
$texto-seccion: #2e2f33

$button-hover: #46484e

$font-family-main: 'Lato', sans-serif


#personal-information
  padding: 5rem 1.5rem 0 1.5rem
#other-information
  padding: 0 1.5rem


#personal-information,
#other-information
  h2
    font-size: 1.3rem
    margin: 0
    color: $color-main
    margin-bottom: 1.5rem
  h3
    color: $titulo-seccion
    font-size: 1.2rem
    font-family: $font-family-main
    font-weight: 100
    margin: 0
    margin-bottom: 0.5rem
  p
    color: $texto-seccion
    font-size: 0.95rem
    font-weight: 100
    margin: 0
    margin-bottom: 1.5rem
    text-align: justify
    line-height: 25px
  a.btn
    max-width: 290px
    margin: 0 auto
    display: block
    -webkit-border-radius: 500px
    -moz-border-radius: 500px
    border-radius: 500px
    background-color: $color-dark-grey
    color: white
    text-transform: uppercase
    letter-spacing: 1px
    font-weight: bold
    margin-bottom: 5rem
    transition: 0.3s ease all
    &:hover
      background-color: $button-hover

@media (min-width: 769px)
  #information-container
    padding: 5rem 5rem 0 5rem
  #personal-information
    padding: 0 1.5rem