@import "components/header-signup"
@import "components/line-o"
@import "components/actionButton"


// Colors
$color-main: #8bc34a
$color-main-hover: #77ac39
$color-grey-light: #dfe0e6
$color-fb: #3b5998
$color-fb-hover: #324b81
$color-gmail: #dd4b39
$color-gmail-hover: #c43421


html
  height: 100vh
  font-family: 'Lato', sans-serif
body
  height: 100%



#slogan
  padding-top: 2rem
  text-align: center
  margin: 0 auto
  z-index: 1
  p
    color: #1c1c1f
    font-size: 1.3rem
    text-align: center
  #terminos
    font-size: .85em
    margin-top: 2rem
    text-align: left
    color: grey
    a
      color: $color-main

#slogan
  text-align: left
  div.row
    margin: 0
  div.input-field
    padding: 0
  input
    border: 1px solid $color-grey-light
    margin: 0
  label
    left: 0
  input[type="submit"]
    text-transform: uppercase
    width: 100%
    height: 36px
    font-weight: bold
    color: white
    background: #8bc34a
    margin-top: 1rem
    letter-spacing: 2px
    transition: 0.25s ease all
    &:hover
      background-color: $color-main-hover

// Slogan que pregunta: ¿Ya tienes cuenta?
p#tienesCuenta
  font-size: 1rem
  a
    color: $color-main



// mediaqueries
@media (min-width: 768px)
  #header-signup
    padding: 3rem 0
    h1
      font-size: 4rem
  #slogan
    max-width: 450px
    a.homeActionButton
      font-size: 1.3rem
      height: auto
      padding: 0

@media (min-width: 1025px)
  #slogan
    h3
      font-size: 2rem
    a.homeActionButton
      font-size: 1rem
      height: auto
      padding: 0 2rem

