@import "components/nav-top"
@import "components/nav-main"


@media (min-width: 769px)
  body
    background-image: -webkit-linear-gradient(#212c39,#121e3d 50%,#000)
    background-image: -o-linear-gradient(#212c39,#121e3d 50%,#000)
    background-image: linear-gradient(#212c39,#121e3d 50%,#000)
    background-repeat: no-repeat

  // Hacemos que no ocupe toda la pantalla
  #main
    width: 997px
    max-width: 997px
    margin: 0 auto

  // Hacemos que le nav-main se vea gris y el contenido blanco
  #content
    background: white
    margin-bottom: 0


@media (min-width: 1201px)
  #main
    width: 1170px
    max-width: 1170px