<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block browserTitle %}{% endblock %}</title>

    {{ include('AppBundle::modules/header-dependences.html.twig') }}

    {# OWN JS #}
    {%  block ownjs %}{% endblock %}

    {# OWN CSS #}
    {%  block owncss %}{% endblock %}

</head>

<body>
{# Navegador fixed top #}
{% block navigatorTop %}{% endblock %}

{# Fullpage Home block #}
{% block content %}{% endblock %}

{# Footer page#}
{% block footer %}{% endblock %}

{# Javascript dependences to don't delay the pageload #}
{{ include('AppBundle::modules/javascript-body-end.html.twig') }}

{% block endBodyJavascript %}{% endblock %}

{# Bloque para las peticiones AJAX #}
{% block someAjaxActions %}{% endblock %}

{% block more_scripts %}{% endblock %}
</body>
</html>