<nav id="top-nav">
    <div class="nav-wrapper">
        <a href="/admin" class="brand-logo">Panel administración</a>

        <ul id="adminActions">
            <li><a href="/perfil" class="waves-effect waves-light btn">Volver a la app</a></li>
            <li><a href="/logout" class="waves-effect waves-light btn grey lighten-1">Cerrar sesión</a></li>
        </ul>
        <!-- botón version movil -->
        <button id="trigger-mobile-menu"><i class="material-icons">menu</i></button>
    </div>
</nav>
