<nav id="main-nav-container">
    <ul>
        <li><a href="/admin/create/user"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-user" aria-hidden="true"></i>Crear usuario</a></li>
        <li><a href="/admin/list/user"><i class="fa fa-list-ul" aria-hidden="true"></i><i class="fa fa-user" aria-hidden="true"></i>Listar usuarios</a></li>
        <li><a href="/admin/create/admin"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-user-secret" aria-hidden="true"></i>Crear admin</a></li>
        <li><a href="/admin/list/admin"><i class="fa fa-list-ul" aria-hidden="true"></i><i class="fa fa-user-secret" aria-hidden="true"></i>Listar admins</a></li>
        <li><a href="/admin/list/book"><i class="fa fa-list-ul" aria-hidden="true"></i><i class="fa fa-book" aria-hidden="true"></i>Listar libros</a></li>
        <li><a href="/admin/create/category"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-bookmark" aria-hidden="true"></i>Crear categoria</a></li>
        <li><a href="/admin/list/category"><i class="fa fa-list-ul" aria-hidden="true"></i><i class="fa fa-bookmark" aria-hidden="true"></i>Listar categorías</a></li>
        <li><a href="/admin/create/social"><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-share-alt" aria-hidden="true"></i>Crear social</a></li>
        <li><a href="/admin/list/social"><i class="fa fa-list-ul" aria-hidden="true"></i><i class="fa fa-share-alt" aria-hidden="true"></i>Listar socials</a></li>
    </ul>
</nav>