{% extends "AppBundle::layout.html.twig" %}


{% block browserTitle %}
    MyAppLibrary ~ Digitaliza tus libros
{% endblock %}

{%  block ownjs %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}


{% block content %}
    <header id="header-signup">
        <h1>My appLibrary</h1>
    </header>

    <div class="container valign-wrapper">
        <header class="valign" id="slogan">
            <div id="signupActionButtons">
                <a href="/login" class="homeActionButton waves-effect waves-light btn">Inicia con facebook</a>
                <a href="/signup" class="homeActionButton waves-effect waves-light btn">Inicia con gmail</a>
                <strong class="line-o">o</strong>
            </div>

            <div id="signupForm" class="row">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if last_username %}
                    {{ last_username }}
                {% endif %}

                <!-- Formulario para iniciar sesión -->
                <form action="{{ path('login_user') }}" method="post">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" id="username" name="_username" value="{{ last_username }}" />
                            <label for="username">Nombre usuario</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="password" id="password" name="_password" />
                            <label for="password">Constraseña</label>
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <input type="submit" value="Accede">
                </form>

                <!-- ¿Has olvidado el password? -->
                <p id="forgotPassword"><a href="/login">¿Se te ha olvidado el nombre de usuario o la contraseña?</a></p>

                <!-- Redirige a /signup -->
                <p id="tienesCuenta">¿No tienes cuenta? <a href="/signup">Registrate</a></p>

                <!-- Linia gris que divide  -->
                <div class="divider"></div>

                <!-- Aceptas los terminos y politicas de privacidad  -->
                <p id="terminos">Si haces click en iniciar sesión con Facebook/Gmail y no eres usuario de My appLibrary, pasarás a estar registrado y aceptas los <a href="/terminos">Términos y condiciones</a>
                y la <a href="politicas">Política de privacidad</a>de My appLibrary.</p>
            </div>
        </header>
    </div>
{% endblock %}