{% extends "AppBundle::layout.html.twig" %}


{% block browserTitle %}
    Mi libreria ~ Encuentra tu libro, revisa los tuyos.
{% endblock %}


{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('css/libreria.css') }}">
{% endblock %}


{% block navigatorTop %}
    {{ include('AppBundle::modules/nav-top.html.twig') }}
{% endblock %}


{% block content %}
    <!-- Modals para las acciones con los libros -->
    {{ include('AppBundle::modules/modal.html.twig') }}

    <main id="main">
        {{ include('AppBundle::modules/banner.html.twig') }}

        <section id="content" class="row">
            {{ include('AppBundle::modules/nav-main.html.twig') }}

            <!-- Contenido de la página -->
            <div id="libreria" class="col s12 l9">
                <header id="libreria-explication">
                    <h1>Mi libreria</h1>
                    <p>En <span class="bold">Mi Libreria</span> podrás buscar y añadir todos los libros que quieras o hayas leído
                         con el fin de poder analizar y substraer información sobre ello. Para buscar libros, ofrecemos distintas
                     formas, puedes buscarlo mediante el título de éste o su autor. También podrás buscar y descargar eBooks</p>
                </header>

                <div id="libreria-content">
                    <div class="row">
                        <!-- La pestaña 1 hace que <div#id> se muestre -->
                        <div class="col s12">
                            <ul class="tabs">
                                <li class="tab col s3"><a onclick="borrarDatos();" class="active" href="#busqueda">Búsqueda</a></li>
                                <li class="tab col s3"><a onclick="borrarDatos(); loadMisLibros();" href="#mislibros">Mis Libros</a></li>
                                <li class="tab col s3"><a onclick="borrarDatos(); loadMisEbooks();" href="#misebooks">Mis Ebooks</a></li>
                            </ul>
                        </div>

                        <!-- Apartado para buscar libro/ebook -->
                        <div id="busqueda" class="libreria-section col s12">
                            <div id="busqueda-form">
                                <form action="#">
                                    <!-- Buscador -->
                                    <div class="input-field">
                                        <input type="text" id="searcher" placeholder="Escriba su...">
                                    </div>

                                    <!-- Opciones de busar para Google Books API -->
                                    <div class="input-field">
                                        <p>
                                            <input name="opcionBusqueda" type="radio" value="titulo" id="titulo" checked="checked" />
                                            <label for="titulo">Título</label>
                                        </p>
                                        <p>
                                            <input name="opcionBusqueda" type="radio" value="autor" id="autor" />
                                            <label for="autor">Autor</label>
                                        </p>
                                        <p>
                                            <input name="opcionBusqueda" type="radio" value="ebook" id="ebook"  />
                                            <label for="ebook">Ebook</label>
                                        </p>
                                    </div>

                                    <div class="input-field">
                                        <input type="submit" id="buscar" value="Buscar">
                                    </div>
                                </form>
                            </div>

                            <!-- Lista de libros que se encuentran -->
                            <div id="books-list">
                                <!-- Estructura del header creada dinámicamente -->

                                <ul class="collapsible" data-collapsible="accordion">
                                    <!-- Todos los libros creados dinámicamente (estructura en searcher.js) -->
                                </ul>
                            </div>
                        </div>

                        <!-- Apartado con todos los libros -->
                        <div id="mislibros" class="libreria-section col s12">
                            <div id="mislibros-tabla-container">
                                <table id="mislibros-table" class="centered responsive-table">
                                    <thead>
                                        <tr>
                                            <th data-field="id">Nº</th>
                                            <th data-field="title">Título</th>
                                            <th data-field="genre">Género</th>
                                            <th data-field="rate">Valoración</th>
                                            <th data-field="language">Idioma</th>
                                            <th data-field="is_read">Leído</th>
                                            <th data-field="action"></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Los juegos del hambre: Sinsajo</td>
                                            <td>Ficcion Juvenil</td>
                                            <td>
                                                <span class="no-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="half-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                            </td>
                                            <td><img src="{{ asset('images/flagES.png') }}" alt=""></td>
                                            <td>si</td>
                                            <td><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Los juegos del hambre: Sinsajo</td>
                                            <td>Ficcion Juvenil</td>
                                            <td>
                                                <span class="no-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="half-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                            </td>
                                            <td><img src="{{ asset('images/flagES.png') }}" alt=""></td>
                                            <td>si</td>
                                            <td><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Los juegos del hambre: Sinsajo</td>
                                            <td>Ficcion Juvenil</td>
                                            <td>
                                                <span class="no-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="half-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                            </td>
                                            <td><img src="{{ asset('images/flagEN.png') }}" alt=""></td>
                                            <td>si</td>
                                            <td><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Los juegos del hambre: Sinsajo</td>
                                            <td>Ficcion Juvenil</td>
                                            <td>
                                                <span class="no-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="half-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                            </td>
                                            <td><img src="{{ asset('images/flagES.png') }}" alt=""></td>
                                            <td>si</td>
                                            <td><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Los juegos del hambre: Sinsajo</td>
                                            <td>Ficcion Juvenil</td>
                                            <td>
                                                <span class="no-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="half-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                            </td>
                                            <td><img src="{{ asset('images/flagES.png') }}" alt=""></td>
                                            <td>si</td>
                                            <td><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Los juegos del hambre: Sinsajo</td>
                                            <td>Ficcion Juvenil</td>
                                            <td>
                                                <span class="no-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="half-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                            </td>
                                            <td><img src="{{ asset('images/flagEN.png') }}" alt=""></td>
                                            <td>si</td>
                                            <td><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Los juegos del hambre: Sinsajo</td>
                                            <td>Ficcion Juvenil</td>
                                            <td>
                                                <span class="no-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="half-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                            </td>
                                            <td><img src="{{ asset('images/flagES.png') }}" alt=""></td>
                                            <td>si</td>
                                            <td><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Los juegos del hambre: Sinsajo</td>
                                            <td>Ficcion Juvenil</td>
                                            <td>
                                                <span class="no-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="half-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                            </td>
                                            <td><img src="{{ asset('images/flagES.png') }}" alt=""></td>
                                            <td>si</td>
                                            <td><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Los juegos del hambre: Sinsajo</td>
                                            <td>Ficcion Juvenil</td>
                                            <td>
                                                <span class="no-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="half-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                            </td>
                                            <td><img src="{{ asset('images/flagEN.png') }}" alt=""></td>
                                            <td>si</td>
                                            <td><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>Los juegos del hambre: Sinsajo</td>
                                            <td>Ficcion Juvenil</td>
                                            <td>
                                                <span class="no-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="half-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                                <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                            </td>
                                            <td><img src="{{ asset('images/flagES.png') }}" alt=""></td>
                                            <td>si</td>
                                            <td><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="mislibros-pagination-container">
                                    <p>Mostrando del 1 al 10 de 50 resultados</p>
                                    <ul class="pagination">
                                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                                        <li class="active"><a href="#!">1</a></li>
                                        <li class="waves-effect"><a href="#!">2</a></li>
                                        <li class="waves-effect"><a href="#!">3</a></li>
                                        <li class="waves-effect"><a href="#!">4</a></li>
                                        <li class="waves-effect"><a href="#!">5</a></li>
                                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Apartado con todos los ebooks -->
                        <div id="misebooks" class="libreria-section col s12">
                            <div id="misebooks-tabla-container">
                                <table id="misebooks-table" class="centered responsive-table">
                                    <thead>
                                    <tr>
                                        <th data-field="id">Nº</th>
                                        <th data-field="title">Título</th>
                                        <th data-field="genre">Género</th>
                                        <th data-field="rate">Valoración</th>
                                        <th data-field="language">Idioma</th>
                                        <th data-field="is_read">Leído</th>
                                        <th data-field="action"></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Los juegos del hambre: Sinsajo</td>
                                        <td>Ficcion Juvenil</td>
                                        <td>
                                            <span class="no-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="half-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                        </td>
                                        <td><img src="{{ asset('images/flagES.png') }}" alt=""></td>
                                        <td>si</td>
                                        <td><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Los juegos del hambre: Sinsajo</td>
                                        <td>Ficcion Juvenil</td>
                                        <td>
                                            <span class="no-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="half-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                        </td>
                                        <td><img src="{{ asset('images/flagES.png') }}" alt=""></td>
                                        <td>si</td>
                                        <td><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Los juegos del hambre: Sinsajo</td>
                                        <td>Ficcion Juvenil</td>
                                        <td>
                                            <span class="no-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="half-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                        </td>
                                        <td><img src="{{ asset('images/flagEN.png') }}" alt=""></td>
                                        <td>si</td>
                                        <td><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Los juegos del hambre: Sinsajo</td>
                                        <td>Ficcion Juvenil</td>
                                        <td>
                                            <span class="no-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="half-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                        </td>
                                        <td><img src="{{ asset('images/flagES.png') }}" alt=""></td>
                                        <td>si</td>
                                        <td><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Los juegos del hambre: Sinsajo</td>
                                        <td>Ficcion Juvenil</td>
                                        <td>
                                            <span class="no-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="half-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                        </td>
                                        <td><img src="{{ asset('images/flagES.png') }}" alt=""></td>
                                        <td>si</td>
                                        <td><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Los juegos del hambre: Sinsajo</td>
                                        <td>Ficcion Juvenil</td>
                                        <td>
                                            <span class="no-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="half-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                        </td>
                                        <td><img src="{{ asset('images/flagEN.png') }}" alt=""></td>
                                        <td>si</td>
                                        <td><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Los juegos del hambre: Sinsajo</td>
                                        <td>Ficcion Juvenil</td>
                                        <td>
                                            <span class="no-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="half-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                        </td>
                                        <td><img src="{{ asset('images/flagES.png') }}" alt=""></td>
                                        <td>si</td>
                                        <td><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Los juegos del hambre: Sinsajo</td>
                                        <td>Ficcion Juvenil</td>
                                        <td>
                                            <span class="no-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="half-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                        </td>
                                        <td><img src="{{ asset('images/flagES.png') }}" alt=""></td>
                                        <td>si</td>
                                        <td><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Los juegos del hambre: Sinsajo</td>
                                        <td>Ficcion Juvenil</td>
                                        <td>
                                            <span class="no-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="half-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                        </td>
                                        <td><img src="{{ asset('images/flagEN.png') }}" alt=""></td>
                                        <td>si</td>
                                        <td><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Los juegos del hambre: Sinsajo</td>
                                        <td>Ficcion Juvenil</td>
                                        <td>
                                            <span class="no-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="half-star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                            <span class="star"><i class="fa fa-star" aria-hidden="true"></i></span>
                                        </td>
                                        <td><img src="{{ asset('images/flagES.png') }}" alt=""></td>
                                        <td>si</td>
                                        <td><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div id="misebooks-pagination-container">
                                    <p>Mostrando del 1 al 10 de 50 resultados</p>
                                    <ul class="pagination">
                                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                                        <li class="active"><a href="#!">1</a></li>
                                        <li class="waves-effect"><a href="#!">2</a></li>
                                        <li class="waves-effect"><a href="#!">3</a></li>
                                        <li class="waves-effect"><a href="#!">4</a></li>
                                        <li class="waves-effect"><a href="#!">5</a></li>
                                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}


{% block endBodyJavascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('ul.tabs').tabs();
        });
    </script>

    <script src="{{ asset('js/searcher.js') }}" type="text/javascript" ></script>
{% endblock %}


{% block more_scripts %}
    <script type="text/javascript">
        function addLibroToLibreria(idCadena){
            var id = idCadena.id;

            $.ajax({
                url: '/libreria/addBook/'+id,
                type: 'GET'
            }).done(function (data) {
                if(data.type == 'OK'){
                    $('#modal-titulo').text("Notificación");
                    $('#modal-mensaje').text("Libro añadido exitosamente.");
                    $('#modal').openModal();
                }
                if(data.type == 'REPEATED'){
                    $('#modal-titulo').text("Aviso");
                    $('#modal-mensaje').text("No se ha podido añadir el libro seleccionado a tu libreria porqué ya está en ella");
                    $('#modal').openModal();
                }
                if(data.type == 'ERROR'){
                    $('#modal-titulo').text("Error");
                    $('#modal-mensaje').text("Ha sucedido un error inesperado.");
                    $('#modal').openModal();
                }
            }).error(function(){
                $('#modal-titulo').text("Error");
                $('#modal-mensaje').text("Ha sucedido un error inesperado y no se ha podido añadir el libro seleccionado.");
                $('#modal').openModal();
            });
        }

        function borrarDatos(){
            alert("ejecutando borrar datos");
        }

        function loadMisLibros(){
            $.ajax({
                url: '/libreria/getUserBooks',
                type: 'POST'
            }).done(function(userBooks){
                console.log(userBooks);
            });
        }
    </script>
{% endblock %}
