{% extends "AppBundle::layout.html.twig" %}


{% block browserTitle %}
    MyAppLibrary ~ Digitaliza tus libros
{% endblock %}

{%  block ownjs %}
    <link rel="stylesheet" href="{{ asset('css/signup.css') }}">
{% endblock %}


{% block content %}
    <header id="header-signup">
        <h1>My appLibrary</h1>
    </header>

    <div class="container valign-wrapper">
        <header class="valign" id="slogan">
            <div id="signupActionButtons">
                <a href="/signup-fb" class="homeActionButton waves-effect waves-light btn">Registrate con facebook</a>
                <a href="/signup-gmail" class="homeActionButton waves-effect waves-light btn">Registrate con gmail</a>
                <strong class="line-o">o</strong>
                <p>Regístrate con tu dirección de correo electrónico</p>
            </div>




            <div id="signupForm" class="row">
                <div class="s12">
                    {{ form_start(formUser) }}
                        <div class="row">
                            <div class="input-field col s12 l6">
                                {{ form_row(formUser.name) }}
                            </div>
                            <div class="input-field col s12 l6">
                                {{ form_row(formUser.lastname) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                {{ form_row(formUser.username) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                {{ form_row(formUser.email) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12 l6">
                                {{ form_row(formUser.plainPassword.first) }}
                            </div>
                            <div class="input-field col s12 l6">
                                {{ form_row(formUser.plainPassword.second) }}
                            </div>
                        </div>

                        <p id="terminos">Al hacer click en Regístrate, aceptas los <a href="">términos y condiciones</a> y <a
                                    href="">políticas de privacidad</a> de My appLibrary</p>

                        {{ form_row(formUser._token) }}
                        <input type="submit" value="Registrarse">
                    {{ form_end(formUser) }}
                    <p id="tienesCuenta">¿Ya tienes cuenta? <a href="/login">Entrar</a></p>
                </div>
            </div>
        </header>
    </div>
{% endblock %}