* {
  font-family: "Raleway", Sans-serif; }

#top-nav {
  background: #111;
  position: relative; }
  #top-nav .brand-logo {
    font-weight: bold;
    font-size: 1.5rem; }
  #top-nav button {
    position: absolute;
    background: transparent;
    color: white;
    left: 0;
    top: 0;
    border: 0; }

#adminActions {
  display: none; }

@media (min-width: 1024px) {
  #top-nav #trigger-mobile-menu {
    display: none; }
  #top-nav .brand-logo {
    padding-left: 1rem; }
  #top-nav #adminActions {
    display: block;
    float: right; }
    #top-nav #adminActions a {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }
#main-nav-container {
  filter: grayscale(0.1);
  -webkit-filter: grayscale(0.1);
  background: #77ac39;
  height: auto;
  display: none; }
  #main-nav-container ul {
    overflow: hidden;
    border-bottom: 5px solid #111;
    padding: 0.5rem; }
    #main-nav-container ul li {
      display: block;
      float: none; }
      #main-nav-container ul li a {
        height: 4rem;
        padding-left: 5rem;
        position: relative;
        font-size: 0.9rem; }
        #main-nav-container ul li a:hover, #main-nav-container ul li a:focus {
          background-color: #97c95d;
          color: antiquewhite; }
        #main-nav-container ul li a i {
          position: absolute;
          float: none;
          top: 1.2rem;
          height: 20px;
          text-align: center;
          font-size: 1.5rem; }
          #main-nav-container ul li a i:first-child {
            left: 1.3rem;
            font-size: 0.6rem; }
          #main-nav-container ul li a i:last-child {
            left: 2rem; }

@media (min-width: 1024px) {
  #main-nav-container {
    position: fixed;
    background: #111;
    display: block;
    height: 100%;
    width: 25%; }
    #main-nav-container ul {
      background: #77ac39; } }
@media (min-width: 1200px) {
  #main-nav-container {
    width: 20%; } }
#page-section {
  background-color: #bdbdbd; }
  #page-section h1 {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin: 0;
    color: white;
    border-bottom-left-radius: 5px;
    padding: 0.5rem;
    border-bottom-right-radius: 5px;
    font-weight: 300; }

#content main {
  padding: 2rem; }
  #content main form input[type="submit"] {
    background-color: #8bc34a;
    width: 100%;
    border-radius: 5px;
    padding: 1rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none; }
    #content main form input[type="submit"]:hover {
      background-color: #77ac39; }

@media (min-width: 768px) {
  #content main {
    width: 80%;
    margin: 0 auto;
    padding: 4rem 2rem 2rem 2rem; } }
@media (min-width: 1024px) {
  #content-wrapper {
    padding-left: 25%; } }
@media (min-width: 1200px) {
  #content-wrapper {
    padding-left: 20%; } }
#error-message {
  display: none;
  padding: 0.2em 1.5rem;
  position: relative;
  width: 100%;
  max-width: 100%;
  background-color: #c0392b;
  border-bottom: 2px solid #ab3326;
  border-top: 2px solid #ab3326; }
  #error-message p {
    color: white;
    text-align: center;
    margin: 0 !important; }
  #error-message i {
    position: absolute;
    color: white;
    top: 6px;
    left: 1rem; }
  #error-message i:hover {
    cursor: pointer; }

.yes {
  color: #8bc34a;
  filter: grayscale(0.6);
  -webkit-filter: grayscale(0.6); }

.no {
  color: #f44336;
  filter: grayscale(0.6);
  -webkit-filter: grayscale(0.6); }

.regeneratePassword {
  color: #03a9f4;
  filter: grayscale(0.6);
  -webkit-filter: grayscale(0.6); }
  .regeneratePassword:hover {
    color: #0286c2; }

.edit {
  color: #ff9800;
  filter: grayscale(0.6);
  -webkit-filter: grayscale(0.6); }
  .edit:hover {
    color: #cc7a00; }

.delete {
  color: #f44336;
  filter: grayscale(0.6);
  -webkit-filter: grayscale(0.6); }
  .delete:hover {
    color: #ea1c0d; }

td i:hover {
  cursor: pointer; }

@media (min-width: 768px) {
  td, th {
    text-align: center; } }

/*# sourceMappingURL=list.css.map */
