a.homeActionButton {
  display: block;
  color: white;
  background-color: #dd4b39;
  font-weight: bold;
  letter-spacing: 2px;
  transition: 0.25s ease all; }
  a.homeActionButton:hover {
    background-color: #c43421; }
  a.homeActionButton:first-child {
    margin-bottom: 5px;
    background-color: #3b5998; }
    a.homeActionButton:first-child:hover {
      background-color: #324b81; }

@media (min-width: 768px) {
  #slogan {
    max-width: 450px; }
    #slogan a.homeActionButton {
      font-size: 1.3rem;
      height: auto;
      padding: 0; } }
@media (min-width: 1025px) {
  #slogan a.homeActionButton {
    font-size: 1rem;
    height: auto;
    padding: 0 2rem; } }

/*# sourceMappingURL=actionButton.css.map */
