body {
  font-family: "Lato", sans-serif; }

#banner {
  padding: 0 2rem;
  background-image: url("../../images/vintage-library.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative; }
  #banner div.container {
    position: relative;
    height: 100%; }
  #banner #button-knowmore {
    position: absolute;
    bottom: 0;
    background-color: #8bc34a;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 500px;
    width: 290px; }

header.slogan {
  text-align: center;
  padding-top: 5rem; }
  header.slogan h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin: 0; }
  header.slogan p {
    color: white;
    margin: 1rem;
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: 1px; }

@media (min-width: 769px) {
  header.slogan {
    padding-top: 3rem; }
    header.slogan h1 {
      font-size: 5rem; }

  #banner #button-knowmore {
    bottom: 5rem; } }

/*# sourceMappingURL=banner.css.map */
