#blur-overlay {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../../images/home-bg.jpg");
  background-position: center;
  background-size: cover; }

/*# sourceMappingURL=blur-overlay.css.map */
