@charset "UTF-8";
span.star,
span.half-star,
span.no-star {
  color: goldenrod; }

#books-list header {
  margin-top: 3rem; }
  #books-list header h3 {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase; }
#books-list li {
  position: relative; }
  #books-list li h2 {
    font-size: 1rem;
    margin: 0; }
  #books-list li .collapsible-header {
    position: relative;
    padding: 1.2rem 3rem 1.2rem 3rem; }
    #books-list li .collapsible-header img {
      position: absolute;
      left: 10px;
      top: 10px;
      max-height: 30px; }
    #books-list li .collapsible-header i {
      color: #9e9e9e;
      position: absolute;
      top: 3px;
      right: 6px;
      margin: 0; }
  #books-list li .collapsible-body {
    overflow: hidden;
    padding: 1rem;
    position: relative; }
    #books-list li .collapsible-body p {
      padding: 0;
      margin-bottom: 0.1rem; }
    #books-list li .collapsible-body span.bold {
      font-weight: bold;
      margin-left: 0.5rem; }
    #books-list li .collapsible-body .publicacion p {
      font-style: italic; }
    #books-list li .collapsible-body .publicacion span.grey {
      color: #bdbdbd;
      background-color: transparent !important; }
    #books-list li .collapsible-body .valoracion {
      display: block; }
    #books-list li .collapsible-body .links {
      margin-bottom: 2rem;
      margin-top: 0.5rem; }
    #books-list li .collapsible-body a.link-book-info {
      display: block;
      text-transform: uppercase;
      font-size: 0.8rem;
      text-align: left; }
    #books-list li .collapsible-body .descripcion {
      margin-top: 2rem;
      text-align: justify; }
    #books-list li .collapsible-body .añadirLibro {
      margin-top: 2rem;
      float: right; }

@media (min-width: 768px) {
  #books-list li .collapsible-body {
    padding: 2rem; }
    #books-list li .collapsible-body .links {
      margin: 0;
      position: absolute;
      right: 2rem;
      top: 2.2rem;
      line-height: 1.5rem; }
    #books-list li .collapsible-body a.link-book-info {
      text-align: right; } }

/*# sourceMappingURL=busquedaMiLibreria.css.map */
