#header-signup {
  text-align: center;
  padding: 1rem 0;
  position: relative;
  border-bottom: 1px solid #dfe0e6; }
  #header-signup h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0; }

@media (min-width: 768px) {
  #header-signup {
    padding: 1.5rem 0; }
    #header-signup h1 {
      font-size: 4rem; } }

/*# sourceMappingURL=header-signup.css.map */
