#mislibros-table th, #misebooks-table th {
  text-align: right; }
#mislibros-table td, #misebooks-table td {
  height: 51px;
  position: relative;
  text-align: left; }
  #mislibros-table td > i, #misebooks-table td > i {
    color: #8bc34a;
    font-size: 2rem; }
    #mislibros-table td > i:hover, #misebooks-table td > i:hover {
      cursor: pointer; }
  #mislibros-table td > img, #misebooks-table td > img {
    max-height: 30px;
    position: absolute;
    top: 10px;
    left: 0; }

#mislibros-pagination-container p, #misebooks-pagination-container p {
  text-align: center; }
#mislibros-pagination-container ul.pagination, #misebooks-pagination-container ul.pagination {
  text-align: center; }
  #mislibros-pagination-container ul.pagination li, #misebooks-pagination-container ul.pagination li {
    text-align: center; }

/******************************** */
@media (min-width: 1024px) {
  #mislibros-table, #misebooks-table {
    border-bottom: 1px solid #d0d0d0; }
    #mislibros-table th, #misebooks-table th {
      text-align: center; }
    #mislibros-table td, #misebooks-table td {
      text-align: center; }
      #mislibros-table td > img, #misebooks-table td > img {
        left: 25%;
        top: 15px; }

  #mislibros-pagination-container, #misebooks-pagination-container {
    padding: 1rem 0; }
    #mislibros-pagination-container ul.pagination, #mislibros-pagination-container p, #misebooks-pagination-container ul.pagination, #misebooks-pagination-container p {
      display: inline-block; }
    #mislibros-pagination-container p, #misebooks-pagination-container p {
      margin: 0.5rem 0 0 0;
      color: #444; }
    #mislibros-pagination-container ul.pagination, #misebooks-pagination-container ul.pagination {
      margin: 0;
      float: right; } }

/*# sourceMappingURL=librosMiLibreria.css.map */
