#nav-main-container {
  background-image: -webkit-linear-gradient(left, #1c1c1c 0, #171717 100%);
  background-image: -o-linear-gradient(left, #1c1c1c 0, #171717 100%);
  background-image: linear-gradient(to right, #1c1c1c 0, #171717 100%);
  background-repeat: repeat-x;
  padding: 0; }

#nav-main nav {
  background: transparent;
  height: auto; }
#nav-main ul {
  height: auto;
  overflow: hidden; }
  #nav-main ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.005);
    border-top: 1px solid rgba(0, 0, 0, 0.025);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-top-color: rgba(255, 255, 255, 0.05); }
    #nav-main ul li:hover {
      border-left: 5px solid #8bc34a; }
      #nav-main ul li:hover a {
        color: #c1c3c6; }
      #nav-main ul li:hover i {
        color: white; }
    #nav-main ul li a {
      padding-left: 5rem;
      position: relative;
      color: #919496;
      font-weight: 100; }
    #nav-main ul li i {
      height: 20px;
      position: absolute;
      left: 2rem;
      top: 1.5rem;
      font-size: 1.3rem;
      color: #c1c3c6; }

#social {
  padding: 3rem 1rem; }
  #social h2 {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
    color: #c1c3c6;
    font-weight: 100; }
  #social ul {
    text-align: center;
    margin: 0; }
  #social li {
    text-align: center;
    display: inline-block; }
  #social i {
    font-size: 2rem;
    padding: 0 1rem;
    color: #8bc34a; }
    #social i:hover {
      color: #77ac39; }

/*# sourceMappingURL=nav-main.css.map */
