#nav-top-container {
  background-color: black; }

#nav-top {
  background-color: transparent;
  margin: 0 auto;
  display: block; }

div.nav-wrapper a.brand-logo {
  transform: none;
  left: inherit;
  padding-left: 1rem;
  font-size: 1.5rem; }
div.nav-wrapper a.button-collapse {
  float: right;
  padding-right: 1rem;
  font-size: 2.5rem; }
  div.nav-wrapper a.button-collapse i {
    font-size: 2rem; }

#mobile-demo a {
  padding: 0 1em 0 3em;
  position: relative; }
  #mobile-demo a i {
    position: absolute;
    float: none;
    left: 0.5rem;
    text-align: center;
    font-size: 1.5rem; }

#userOptions {
  top: 64px !important;
  width: 150px !important;
  right: 0;
  left: inherit !important; }
  #userOptions a {
    color: #8bc34a; }

@media (min-width: 769px) {
  #nav-top {
    width: 997px;
    max-width: 997px; }

  #mobile-demo {
    display: none !important; } }
@media (min-width: 1024px) {
  #nav-desktop a {
    font-weight: bold; }
  #nav-desktop .dropdown-button {
    color: #c1c3c6; }
    #nav-desktop .dropdown-button i {
      margin-left: 0.5rem; } }
@media (min-width: 1201px) {
  #nav-top {
    width: 1170px;
    max-width: 1170px; } }

/*# sourceMappingURL=nav-top.css.map */
