{% extends "AppBundle::layout.html.twig" %}


{% block browserTitle %}
    Profile ~ Cuida tus detalles
{% endblock %}


{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}


{% block navigatorTop %}
    {{ include('AppBundle::modules/nav-top.html.twig') }}
{% endblock %}


{% block content %}
    <main id="main">
        {{ include('AppBundle::modules/banner.html.twig') }}

        <section id="content" class="row">
            {{ include('AppBundle::modules/nav-main.html.twig') }}

            <!-- Contenido de la página -->
            <div id="information-container" class="col s12 l9">
                <div class="row">
                    <!-- Informacion personal -->
                    <section id="personal-information" class="col s12 m6">
                        <h2>Perfil</h2>

                        <div class="personal-information-section">
                            <h3>Nombre</h3>
                            <p>{{ app.user.name }} {{ app.user.lastname }}</p>
                        </div>

                        <div class="personal-information-section">
                            <h3>Usuario</h3>
                            <p>{{ app.user.username }}</p>
                        </div>

                        <div class="personal-information-section">
                            <h3>Correo electrónico</h3>
                            <p>{{ app.user.email }}</p>
                        </div>

                        <div class="personal-information-section">
                            <h3>Idioma</h3>
                            <p>{{ app.user.language }}</p>
                        </div>

                        <a href="/editProfile" id="edit-account" class="waves-effect waves-light btn">Editar perfil</a>
                    </section>
                    <section id="other-information" class="col s12 m6">
                        <!-- Invitar a ver sus analisis -->
                        <div id="section-analisis">
                            <h2>Análisis</h2>
                            <p>¿Aún no sabes cual es el género que disfrutas más leyendo? ¿No sabes que idioma prefieres para tus libros?
                                <span class="cursive">'Análisis'</span> te ayudará a descubrir muchas curiosidades</p>
                            <a href="/analisis" id="logout-all" class="waves-effect waves-light btn">Ver análisis</a>
                        </div>
                        <!-- Cerrar sesion -->
                        <div id="section-cerrar-sesion">
                            <h2>Cerrar sesión en todas partes</h2>
                            <p>Cierra sesión en todos los navegadores donde tengas tu cuenta activa indistintamente de si es Internet Explorer, Opera, Google Chrome, Firefox...</p>
                            <a href="/logoutAll" id="logout-all" class="waves-effect waves-light btn">Cerrar sesión en todas partes</a>
                        </div>
                    </section>
                </div>

            </div>
        </section>
    </main>
{% endblock %}
