{% extends "AppBundle::admin-layout.html.twig" %}


{% block browserTitle %}
    Creación de admin ~ Panel de administración My appLibrary
{% endblock %}


{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('css/admin/create.css') }}">
{% endblock %}


{# OWN JS #}
{%  block ownjs %}
    <script src="{{ asset('js/admin.js') }}"></script>
{% endblock %}


{% block navigatorTop %}{{ include('AppBundle:admin:modules/navigator-top.html.twig') }}{% endblock %}

{% block content %}
    {{ include('AppBundle:admin:modules/navigator-main.html.twig') }}

    <div id="content-wrapper">
        <div id="content">
            <header id="page-section">
                <h1>{{ sectionTitle }}</h1>
            </header>

            <main>
                {{ form_start(formSocial) }}
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_row(formSocial.name) }}
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        {{ form_row(formSocial.url) }}
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        {{ form_row(formSocial.icon) }}
                    </div>
                </div>

                <div id="advice">
                    <p>Para la creación del icono usamos los disponibles <a href="http://fontawesome.io/icons/">en esta web</a>. Una vez sepas cual quieres, tan solo tienes que escribir su nombre precedido de 'fa-'. Lo explicamos a <span class="bold">continuación:</span></p>
                    <p>Buscamos el icono que <span class="bold">deseamos</span> <i class="fa fa-linkedin-square" aria-hidden="true"></i></p>
                    <p>Su nombre es: <span class="bold">linkedin-square</span>, por tanto, escribiremos <span class="bold">'fa-linkedin-square'</span></p>
                </div>

                {{ form_row(formSocial._token) }}
                <input class="z-depth-2" type="submit" value="Crear red social">
                {{ form_end(formSocial) }}
            </main>
        </div>
    </div>

{% endblock %}

