{% extends "AppBundle::admin-layout.html.twig" %}


{% block browserTitle %}
    Lista de redes sociales ~ Panel de administración My appLibrary
{% endblock %}


{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('css/admin/order.css') }}">
    <link rel="stylesheet" href="{{ asset('css/admin/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/admin/jquery-ui.structure.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/admin/jquery-ui.theme.min.css') }}">
{% endblock %}


{# OWN JS #}
{%  block ownjs %}
    <script src="{{ asset('js/admin.js') }}"></script>
{% endblock %}


{% block navigatorTop %}{{ include('AppBundle:admin:modules/navigator-top.html.twig') }}{% endblock %}

{% block content %}
    {{ include('AppBundle:admin:modules/navigator-main.html.twig') }}

    <div id="content-wrapper">
        <div id="content">
            <header id="page-section">
                <h1>{{ sectionTitle }}</h1>
            </header>

            {# MENSAJE ERROR: Aparece cuando no se ha podido  borrar #}
            <aside id="error-message">
                <p>No se ha podido realizar la acción. Inténtelo de nuevo más tarde</p>
                <i id="close-error-message" class="fa fa-times" aria-hidden="true"></i>
            </aside>

            <main>
                <button id="ordenar"><a class="waves-effect waves-light btn">Ordenar</a></button>

                <ul id="sortable">
                    {% for social in allSocials %}
                    <li id="{{ social.id }}" class="ui-state-default {{ social.name }}">
                        <i class="fa {{ social.icon }}" aria-hidden="true"></i>
                        {{ social.name }}</li>
                    {% endfor %}
                </ul>

            </main>
        </div>
    </div>

{% endblock %}


{% block endBodyJavascript %}
    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
{% endblock %}


{% block someAjaxActions %}
    <script>
        $(document).ready(function(){
            $( "#sortable" ).sortable({
                placeholder: "ui-state-highlight"
            });
            $( "#sortable" ).disableSelection();
        });

        $('#ordenar').click(function(){
            var $children = $('#sortable').children();
            var numElementos = $children.length;
            var socialSorted = [];

            for(var i=0; i<numElementos; i++){
                socialSorted.push($children[i].id);
            }

            $.ajax({
                url: ' {{ path('admin_update_social_position') }} ',
                data: {
                    'socialSorted' : socialSorted
                },
                method: 'POST'
            }).done(function (data) {
                if(data.type == 'OK'){
                    window.location.reload();
                }
                if(data.type == 'ERROR'){
                    $('#error-message').slideDown();
                }
                console.log(data);
            });
        });


        $('#close-error-message').click(function(){
            $('#error-message').slideUp();
        });
    </script>
{% endblock %}