{% extends "AppBundle::layout.html.twig" %}


{% block browserTitle %}
    MyAppLibrary ~ Digitaliza tus libros
{% endblock %}

{%  block ownjs %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}


{% block content %}
    <div id="blur-overlay"></div>
    <div class="container valign-wrapper">
        <header class="valign" id="slogan">
            <h1>My appLibrary</h1>
            <h3>Digitaliza tus libros en un instante</h3>

            <div id="homeActionButtons">
                <a href="/login" class="homeActionButton waves-effect waves-light btn">Iniciar sesión</a>
                <a href="/signup" class="homeActionButton waves-effect waves-light btn">Registrarme</a>
            </div>
        </header>
    </div>
{% endblock %}