{% extends "AppBundle::layout.html.twig" %}


{% block browserTitle %}
    MyAppLibrary ~ Digitaliza tus libros
{% endblock %}

{%  block ownjs %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}


{% block content %}
    <div id="blur-overlay"></div>
    <div class="container valign-wrapper">
        <header class="valign" id="slogan">
            <h1>{{ last_username }}</h1>
            <h1>{{ error }}</h1>
        </header>
    </div>
{% endblock %}