.regeneratePassword {
  color: #03a9f4;
  filter: grayscale(0.6);
  -webkit-filter: grayscale(0.6); }
  .regeneratePassword:hover {
    color: #0286c2; }

.edit {
  color: #ff9800;
  filter: grayscale(0.6);
  -webkit-filter: grayscale(0.6); }
  .edit:hover {
    color: #cc7a00; }

.delete {
  color: #f44336;
  filter: grayscale(0.6);
  -webkit-filter: grayscale(0.6); }
  .delete:hover {
    color: #ea1c0d; }

/*# sourceMappingURL=adminActions.css.map */
