span.bold {
  font-weight: bold; }

#advice {
  padding: 1rem;
  border-left: 5px solid #8bc34a;
  background-color: #e1efd0;
  margin-bottom: 1rem; }
  #advice p {
    color: #8bc34a; }
  #advice a {
    color: #649130;
    text-decoration: underline; }
    #advice a:hover {
      color: #496a23; }

/*# sourceMappingURL=advice.css.map */
