#page-section {
  background-color: #bdbdbd; }
  #page-section h1 {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin: 0;
    color: white;
    border-bottom-left-radius: 5px;
    padding: 0.5rem;
    border-bottom-right-radius: 5px;
    font-weight: 300; }

#content main {
  padding: 2rem; }
  #content main form input[type="submit"] {
    background-color: #8bc34a;
    width: 100%;
    border-radius: 5px;
    padding: 1rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none; }
    #content main form input[type="submit"]:hover {
      background-color: #77ac39; }

@media (min-width: 768px) {
  #content main {
    width: 80%;
    margin: 0 auto;
    padding: 4rem 2rem 2rem 2rem; } }
@media (min-width: 1024px) {
  #content-wrapper {
    padding-left: 25%; } }
@media (min-width: 1200px) {
  #content-wrapper {
    padding-left: 20%; } }

/*# sourceMappingURL=content.css.map */
