#error-message {
  display: none;
  padding: 0.2em 1.5rem;
  position: relative;
  width: 100%;
  max-width: 100%;
  background-color: #c0392b;
  border-bottom: 2px solid #ab3326;
  border-top: 2px solid #ab3326; }
  #error-message p {
    color: white;
    text-align: center;
    margin: 0 !important; }
  #error-message i {
    position: absolute;
    color: white;
    top: 6px;
    left: 1rem; }
  #error-message i:hover {
    cursor: pointer; }

/*# sourceMappingURL=error-message.css.map */
