#main-nav-container {
  filter: grayscale(0.1);
  -webkit-filter: grayscale(0.1);
  background: #77ac39;
  height: auto;
  display: none; }
  #main-nav-container ul {
    overflow: hidden;
    border-bottom: 5px solid #111;
    padding: 0.5rem; }
    #main-nav-container ul li {
      display: block;
      float: none; }
      #main-nav-container ul li a {
        height: 4rem;
        padding-left: 5rem;
        position: relative;
        font-size: 0.9rem; }
        #main-nav-container ul li a:hover, #main-nav-container ul li a:focus {
          background-color: #97c95d;
          color: antiquewhite; }
        #main-nav-container ul li a i {
          position: absolute;
          float: none;
          top: 1.2rem;
          height: 20px;
          text-align: center;
          font-size: 1.5rem; }
          #main-nav-container ul li a i:first-child {
            left: 1.3rem;
            font-size: 0.6rem; }
          #main-nav-container ul li a i:last-child {
            left: 2rem; }

@media (min-width: 1024px) {
  #main-nav-container {
    position: fixed;
    background: #111;
    display: block;
    height: 100%;
    width: 25%; }
    #main-nav-container ul {
      background: #77ac39; } }
@media (min-width: 1200px) {
  #main-nav-container {
    width: 20%; } }

/*# sourceMappingURL=nav-main.css.map */
