* {
  font-family: "Raleway", Sans-serif; }

#top-nav {
  background: #111;
  position: relative; }
  #top-nav .brand-logo {
    font-weight: bold;
    font-size: 1.5rem; }
  #top-nav button {
    position: absolute;
    background: transparent;
    color: white;
    left: 0;
    top: 0;
    border: 0; }

#adminActions {
  display: none; }

@media (min-width: 1024px) {
  #top-nav #trigger-mobile-menu {
    display: none; }
  #top-nav .brand-logo {
    padding-left: 1rem; }
  #top-nav #adminActions {
    display: block;
    float: right; }
    #top-nav #adminActions a {
      margin-right: 0.5rem;
      margin-left: 0.5rem; } }

/*# sourceMappingURL=nav-top.css.map */
