#ordenar {
  background: transparent;
  border: none; }

#sortable li {
  padding: 1rem;
  padding-left: 5rem;
  position: relative;
  font-size: 2rem; }
  #sortable li i {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 3rem; }
  #sortable li:hover {
    cursor: pointer; }
#sortable li.facebook {
  background-color: #3b5998;
  color: #bbc8e4; }
  #sortable li.facebook:hover {
    background-color: #324b81; }
#sortable li.twitter {
  background-color: #1da1f2;
  color: #def1fd; }
  #sortable li.twitter:hover {
    background-color: #0b7bc1; }

/*# sourceMappingURL=sortableStyle.css.map */
