.yes {
  color: #8bc34a;
  filter: grayscale(0.6);
  -webkit-filter: grayscale(0.6); }

.no {
  color: #f44336;
  filter: grayscale(0.6);
  -webkit-filter: grayscale(0.6); }

/*# sourceMappingURL=yes-no.css.map */
