{% extends "AppBundle::admin-layout.html.twig" %}


{% block browserTitle %}
    Panel de administración ~ My appLibrary
{% endblock %}


{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('css/admin/index.css') }}">
{% endblock %}


{# OWN JS #}
{%  block ownjs %}
    <script src="{{ asset('js/admin.js') }}"></script>
{% endblock %}


{% block navigatorTop %}{{ include('AppBundle:admin:modules/navigator-top.html.twig') }}{% endblock %}

{% block content %}
    {{ include('AppBundle:admin:modules/navigator-main.html.twig') }}

    <div id="content-wrapper">
        <div id="content">
            <header id="page-section">
                <h1>{{ sectionTitle }}</h1>
            </header>
        </div>
    </div>

{% endblock %}

