{% extends "AppBundle::admin-layout.html.twig" %}


{% block browserTitle %}
    Creación de admin ~ Panel de administración My appLibrary
{% endblock %}


{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('css/admin/create.css') }}">
{% endblock %}


{# OWN JS #}
{%  block ownjs %}
    <script src="{{ asset('js/admin.js') }}"></script>
{% endblock %}


{% block navigatorTop %}{{ include('AppBundle:admin:modules/navigator-top.html.twig') }}{% endblock %}

{% block content %}
    {{ include('AppBundle:admin:modules/navigator-main.html.twig') }}

    <div id="content-wrapper">
        <div id="content">
            <header id="page-section">
                <h1>{{ sectionTitle }}</h1>
            </header>

            <main>
                {{ form_start(formAdmin) }}
                <div class="row">
                    <div class="input-field col s12 l6">
                        {{ form_row(formAdmin.name) }}
                    </div>
                    <div class="input-field col s12 l6">
                        {{ form_row(formAdmin.lastname) }}
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        {{ form_row(formAdmin.username) }}
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        {{ form_row(formAdmin.email) }}
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 l6">
                        {{ form_row(formAdmin.plainPassword.first) }}
                    </div>
                    <div class="input-field col s12 l6">
                        {{ form_row(formAdmin.plainPassword.second) }}
                    </div>
                </div>

                {{ form_row(formAdmin._token) }}
                <input class="z-depth-2" type="submit" value="Crear admin">
                {{ form_end(formAdmin) }}
            </main>
        </div>
    </div>

{% endblock %}