{% extends "AppBundle::admin-layout.html.twig" %}


{% block browserTitle %}
    Lista de admins ~ Panel de administración My appLibrary
{% endblock %}


{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('css/admin/list.css') }}">
{% endblock %}


{# OWN JS #}
{%  block ownjs %}
    <script src="{{ asset('js/admin.js') }}"></script>
{% endblock %}


{% block navigatorTop %}{{ include('AppBundle:admin:modules/navigator-top.html.twig') }}{% endblock %}

{% block content %}
    {{ include('AppBundle:admin:modules/navigator-main.html.twig') }}

    <div id="content-wrapper">
        <div id="content">
            <header id="page-section">
                <h1>{{ sectionTitle }}</h1>
            </header>

            {# MENSAJE ERROR: Aparece cuando no se ha podido  borrar #}
            <aside id="error-message">
                <p>No se ha podido realizar la acción. Inténtelo de nuevo más tarde</p>
                <i id="close-error-message" class="fa fa-times" aria-hidden="true"></i>
            </aside>

            <main>
                <table class="responsive-table">
                    <thead>
                    <tr>
                        <th data-field="id">id</th>
                        <th data-field="name">Nombre</th>
                        <th data-field="adminname">adminname</th>
                        <th data-field="email">Correo electrónico</th>
                        <th data-field="language">Idioma</th>
                        <th data-field="isActive">Activo</th>
                        <th data-field="options"></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if allAdmins %}
                        {% for admin in allAdmins %}
                            <tr>
                                <td>{{ admin.id }}</td>
                                <td>{{ admin.name }} {{ admin.lastname }}</td>
                                <td>{{ admin.username }}</td>
                                <td>{{ admin.email }}</td>
                                <td>{{ admin.language }}</td>
                                <td>{% if admin.isActive == 1 %}
                                        <i class="fa fa-check yes" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-times no" aria-hidden="true"></i>
                                    {% endif %}</td>
                                <td>
                                    <i class="fa fa-pencil-square-o edit" aria-hidden="true"></i>
                                    <i onclick="deleteAdmin({{ admin.id }})" class="fa fa-times delete" aria-hidden="true"></i>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td><h5>-</h5></td>
                            <td><h5>-</h5></td>
                            <td><h5>-</h5></td>
                            <td><h5>-</h5></td>
                            <td><h5>-</h5></td>
                            <td><h5>-</h5></td>
                            <td><h5>-</h5></td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </main>
        </div>
    </div>

{% endblock %}

{% block someAjaxActions %}
    <script>

        (function blink() {
            $('.blink').css('visibility', 'hidden').css('visibility', 'visible');
        })();

        function deleteAdmin(id)
        {
            // Si el usuario confirma
            if (confirm('Ha seleccionado la opción: Borrar un usuario. ¿Está seguro de quiere continuar?')) {
                var datos = {};
                datos.id = id;

                $.ajax({
                    url: ' {{ path('admin_delete_admin') }} ',
                    data: datos,
                    type: 'post'
                }).done(function (data) {
                    if(data.type == 'OK'){
                        window.location.reload();
                    }
                    if(data.type == 'ERROR'){
                        $('#error-message').slideDown();
                    }
                });
            }

        }

        $('#close-error-message').click(function(){
            $('#error-message').slideUp();
        });
    </script>
{% endblock %}