#blur-overlay {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../../images/home-bg.jpg");
  background-position: center;
  background-size: cover; }

html {
  height: 100vh; }

body {
  height: 100%; }

#slogan {
  padding-top: 5rem;
  text-align: center;
  margin: 0 auto;
  z-index: 1; }
  #slogan h1 {
    font-size: 3rem;
    font-weight: bold; }
  #slogan h3 {
    font-size: 1.5rem; }
  #slogan a.homeActionButton {
    display: block;
    color: black;
    background-color: white; }
    #slogan a.homeActionButton:first-child {
      margin-bottom: 5px;
      color: white;
      background-color: #8bc34a; }

@media (min-width: 768px) {
  #slogan {
    padding-top: 10rem; }
    #slogan h1 {
      font-size: 5rem; }
    #slogan h3 {
      font-size: 2.5rem;
      margin: 0.8rem 0 3rem 0; }
    #slogan a.homeActionButton {
      font-size: 1.5rem;
      height: auto;
      padding: 0.5rem 2rem; } }
@media (min-width: 1025px) {
  #slogan h3 {
    font-size: 2rem; }
  #slogan a.homeActionButton {
    font-size: 1rem;
    height: auto;
    padding: 0 2rem; } }

/*# sourceMappingURL=home.css.map */
