@charset "UTF-8";
#nav-top-container {
  background-color: black; }

#nav-top {
  background-color: transparent;
  margin: 0 auto;
  display: block; }

div.nav-wrapper a.brand-logo {
  transform: none;
  left: inherit;
  padding-left: 1rem;
  font-size: 1.5rem; }
div.nav-wrapper a.button-collapse {
  float: right;
  padding-right: 1rem;
  font-size: 2.5rem; }
  div.nav-wrapper a.button-collapse i {
    font-size: 2rem; }

#mobile-demo a {
  padding: 0 1em 0 3em;
  position: relative; }
  #mobile-demo a i {
    position: absolute;
    float: none;
    left: 0.5rem;
    text-align: center;
    font-size: 1.5rem; }

#userOptions {
  top: 64px !important;
  width: 150px !important;
  right: 0;
  left: inherit !important; }
  #userOptions a {
    color: #8bc34a; }

@media (min-width: 769px) {
  #nav-top {
    width: 997px;
    max-width: 997px; }

  #mobile-demo {
    display: none !important; } }
@media (min-width: 1024px) {
  #nav-desktop a {
    font-weight: bold; }
  #nav-desktop .dropdown-button {
    color: #c1c3c6; }
    #nav-desktop .dropdown-button i {
      margin-left: 0.5rem; } }
@media (min-width: 1201px) {
  #nav-top {
    width: 1170px;
    max-width: 1170px; } }
#nav-main-container {
  background-image: -webkit-linear-gradient(left, #1c1c1c 0, #171717 100%);
  background-image: -o-linear-gradient(left, #1c1c1c 0, #171717 100%);
  background-image: linear-gradient(to right, #1c1c1c 0, #171717 100%);
  background-repeat: repeat-x;
  padding: 0; }

#nav-main nav {
  background: transparent;
  height: auto; }
#nav-main ul {
  height: auto;
  overflow: hidden; }
  #nav-main ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.005);
    border-top: 1px solid rgba(0, 0, 0, 0.025);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-top-color: rgba(255, 255, 255, 0.05); }
    #nav-main ul li:hover {
      border-left: 5px solid #8bc34a; }
      #nav-main ul li:hover a {
        color: #c1c3c6; }
      #nav-main ul li:hover i {
        color: white; }
    #nav-main ul li a {
      padding-left: 5rem;
      position: relative;
      color: #919496;
      font-weight: 100; }
    #nav-main ul li i {
      height: 20px;
      position: absolute;
      left: 2rem;
      top: 1.5rem;
      font-size: 1.3rem;
      color: #c1c3c6; }

#social {
  padding: 3rem 1rem; }
  #social h2 {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
    color: #c1c3c6;
    font-weight: 100; }
  #social ul {
    text-align: center;
    margin: 0; }
  #social li {
    text-align: center;
    display: inline-block; }
  #social i {
    font-size: 2rem;
    padding: 0 1rem;
    color: #8bc34a; }
    #social i:hover {
      color: #77ac39; }

@media (min-width: 769px) {
  body {
    background-image: -webkit-linear-gradient(#212c39, #121e3d 50%, #000);
    background-image: -o-linear-gradient(#212c39, #121e3d 50%, #000);
    background-image: linear-gradient(#212c39, #121e3d 50%, #000);
    background-repeat: no-repeat; }

  #main {
    width: 997px;
    max-width: 997px;
    margin: 0 auto; }

  #content {
    background: white;
    margin-bottom: 0; } }
@media (min-width: 1201px) {
  #main {
    width: 1170px;
    max-width: 1170px; } }
body {
  font-family: "Lato", sans-serif; }

#banner {
  padding: 0 2rem;
  background-image: url("../../images/vintage-library.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative; }
  #banner div.container {
    position: relative;
    height: 100%; }
  #banner #button-knowmore {
    position: absolute;
    bottom: 0;
    background-color: #8bc34a;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 500px;
    width: 290px; }

header.slogan {
  text-align: center;
  padding-top: 5rem; }
  header.slogan h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin: 0; }
  header.slogan p {
    color: white;
    margin: 1rem;
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: 1px; }

@media (min-width: 769px) {
  header.slogan {
    padding-top: 3rem; }
    header.slogan h1 {
      font-size: 5rem; }

  #banner #button-knowmore {
    bottom: 5rem; } }
span.star,
span.half-star,
span.no-star {
  color: goldenrod; }

#books-list header {
  margin-top: 3rem; }
  #books-list header h3 {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase; }
#books-list li {
  position: relative; }
  #books-list li h2 {
    font-size: 1rem;
    margin: 0; }
  #books-list li .collapsible-header {
    position: relative;
    padding: 1.2rem 3rem 1.2rem 3rem; }
    #books-list li .collapsible-header img {
      position: absolute;
      left: 10px;
      top: 10px;
      max-height: 30px; }
    #books-list li .collapsible-header i {
      color: #9e9e9e;
      position: absolute;
      top: 3px;
      right: 6px;
      margin: 0; }
  #books-list li .collapsible-body {
    overflow: hidden;
    padding: 1rem;
    position: relative; }
    #books-list li .collapsible-body p {
      padding: 0;
      margin-bottom: 0.1rem; }
    #books-list li .collapsible-body span.bold {
      font-weight: bold;
      margin-left: 0.5rem; }
    #books-list li .collapsible-body .publicacion p {
      font-style: italic; }
    #books-list li .collapsible-body .publicacion span.grey {
      color: #bdbdbd;
      background-color: transparent !important; }
    #books-list li .collapsible-body .valoracion {
      display: block; }
    #books-list li .collapsible-body .links {
      margin-bottom: 2rem;
      margin-top: 0.5rem; }
    #books-list li .collapsible-body a.link-book-info {
      display: block;
      text-transform: uppercase;
      font-size: 0.8rem;
      text-align: left; }
    #books-list li .collapsible-body .descripcion {
      margin-top: 2rem;
      text-align: justify; }
    #books-list li .collapsible-body .añadirLibro {
      margin-top: 2rem;
      float: right; }

@media (min-width: 768px) {
  #books-list li .collapsible-body {
    padding: 2rem; }
    #books-list li .collapsible-body .links {
      margin: 0;
      position: absolute;
      right: 2rem;
      top: 2.2rem;
      line-height: 1.5rem; }
    #books-list li .collapsible-body a.link-book-info {
      text-align: right; } }
#mislibros-table th, #misebooks-table th {
  text-align: right; }
#mislibros-table td, #misebooks-table td {
  height: 51px;
  position: relative;
  text-align: left; }
  #mislibros-table td > i, #misebooks-table td > i {
    color: #8bc34a;
    font-size: 2rem; }
    #mislibros-table td > i:hover, #misebooks-table td > i:hover {
      cursor: pointer; }
  #mislibros-table td > img, #misebooks-table td > img {
    max-height: 30px;
    position: absolute;
    top: 10px;
    left: 0; }

#mislibros-pagination-container p, #misebooks-pagination-container p {
  text-align: center; }
#mislibros-pagination-container ul.pagination, #misebooks-pagination-container ul.pagination {
  text-align: center; }
  #mislibros-pagination-container ul.pagination li, #misebooks-pagination-container ul.pagination li {
    text-align: center; }

/******************************** */
@media (min-width: 1024px) {
  #mislibros-table, #misebooks-table {
    border-bottom: 1px solid #d0d0d0; }
    #mislibros-table th, #misebooks-table th {
      text-align: center; }
    #mislibros-table td, #misebooks-table td {
      text-align: center; }
      #mislibros-table td > img, #misebooks-table td > img {
        left: 25%;
        top: 15px; }

  #mislibros-pagination-container, #misebooks-pagination-container {
    padding: 1rem 0; }
    #mislibros-pagination-container ul.pagination, #mislibros-pagination-container p, #misebooks-pagination-container ul.pagination, #misebooks-pagination-container p {
      display: inline-block; }
    #mislibros-pagination-container p, #misebooks-pagination-container p {
      margin: 0.5rem 0 0 0;
      color: #444; }
    #mislibros-pagination-container ul.pagination, #misebooks-pagination-container ul.pagination {
      margin: 0;
      float: right; } }
#libreria-explication {
  margin-bottom: 3rem; }
  #libreria-explication h1 {
    font-size: 2rem;
    text-align: center; }
  #libreria-explication p {
    text-align: center;
    line-height: 1.75rem; }

#libreria {
  padding: 3rem 2rem; }
  #libreria .libreria-section {
    padding: 3rem 0 0 0; }

#busqueda-form .input-field {
  margin-bottom: 0;
  margin-top: 0; }
  #busqueda-form .input-field p {
    margin-bottom: 0;
    margin-top: 0;
    display: inline-block;
    width: 32%;
    text-align: center; }
  #busqueda-form .input-field input[type="submit"] {
    width: 100%;
    max-width: 290px;
    display: block;
    margin: 0 auto;
    padding: 0.75rem;
    background: #8bc34a;
    border: none;
    border-radius: 500px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    letter-spacing: 2px; }
  #busqueda-form .input-field:last-child {
    margin-top: 3rem; }

@media (min-width: 768px) {
  #libreria {
    padding: 5rem; } }

/*# sourceMappingURL=libreria.css.map */
