#nav-top-container {
  background-color: black; }

#nav-top {
  background-color: transparent;
  margin: 0 auto;
  display: block; }

div.nav-wrapper a.brand-logo {
  transform: none;
  left: inherit;
  padding-left: 1rem;
  font-size: 1.5rem; }
div.nav-wrapper a.button-collapse {
  float: right;
  padding-right: 1rem;
  font-size: 2.5rem; }
  div.nav-wrapper a.button-collapse i {
    font-size: 2rem; }

#mobile-demo a {
  padding: 0 1em 0 3em;
  position: relative; }
  #mobile-demo a i {
    position: absolute;
    float: none;
    left: 0.5rem;
    text-align: center;
    font-size: 1.5rem; }

#userOptions {
  top: 64px !important;
  width: 150px !important;
  right: 0;
  left: inherit !important; }
  #userOptions a {
    color: #8bc34a; }

@media (min-width: 769px) {
  #nav-top {
    width: 997px;
    max-width: 997px; }

  #mobile-demo {
    display: none !important; } }
@media (min-width: 1024px) {
  #nav-desktop a {
    font-weight: bold; }
  #nav-desktop .dropdown-button {
    color: #c1c3c6; }
    #nav-desktop .dropdown-button i {
      margin-left: 0.5rem; } }
@media (min-width: 1201px) {
  #nav-top {
    width: 1170px;
    max-width: 1170px; } }
#nav-main-container {
  background-image: -webkit-linear-gradient(left, #1c1c1c 0, #171717 100%);
  background-image: -o-linear-gradient(left, #1c1c1c 0, #171717 100%);
  background-image: linear-gradient(to right, #1c1c1c 0, #171717 100%);
  background-repeat: repeat-x;
  padding: 0; }

#nav-main nav {
  background: transparent;
  height: auto; }
#nav-main ul {
  height: auto;
  overflow: hidden; }
  #nav-main ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.005);
    border-top: 1px solid rgba(0, 0, 0, 0.025);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-top-color: rgba(255, 255, 255, 0.05); }
    #nav-main ul li:hover {
      border-left: 5px solid #8bc34a; }
      #nav-main ul li:hover a {
        color: #c1c3c6; }
      #nav-main ul li:hover i {
        color: white; }
    #nav-main ul li a {
      padding-left: 5rem;
      position: relative;
      color: #919496;
      font-weight: 100; }
    #nav-main ul li i {
      height: 20px;
      position: absolute;
      left: 2rem;
      top: 1.5rem;
      font-size: 1.3rem;
      color: #c1c3c6; }

#social {
  padding: 3rem 1rem; }
  #social h2 {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
    color: #c1c3c6;
    font-weight: 100; }
  #social ul {
    text-align: center;
    margin: 0; }
  #social li {
    text-align: center;
    display: inline-block; }
  #social i {
    font-size: 2rem;
    padding: 0 1rem;
    color: #8bc34a; }
    #social i:hover {
      color: #77ac39; }

@media (min-width: 769px) {
  body {
    background-image: -webkit-linear-gradient(#212c39, #121e3d 50%, #000);
    background-image: -o-linear-gradient(#212c39, #121e3d 50%, #000);
    background-image: linear-gradient(#212c39, #121e3d 50%, #000);
    background-repeat: no-repeat; }

  #main {
    width: 997px;
    max-width: 997px;
    margin: 0 auto; }

  #content {
    background: white;
    margin-bottom: 0; } }
@media (min-width: 1201px) {
  #main {
    width: 1170px;
    max-width: 1170px; } }
body {
  font-family: "Lato", sans-serif; }

#banner {
  padding: 0 2rem;
  background-image: url("../../images/vintage-library.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative; }
  #banner div.container {
    position: relative;
    height: 100%; }
  #banner #button-knowmore {
    position: absolute;
    bottom: 0;
    background-color: #8bc34a;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 500px;
    width: 290px; }

header.slogan {
  text-align: center;
  padding-top: 5rem; }
  header.slogan h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin: 0; }
  header.slogan p {
    color: white;
    margin: 1rem;
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: 1px; }

@media (min-width: 769px) {
  header.slogan {
    padding-top: 3rem; }
    header.slogan h1 {
      font-size: 5rem; }

  #banner #button-knowmore {
    bottom: 5rem; } }
#personal-information {
  padding: 5rem 1.5rem 0 1.5rem; }

#other-information {
  padding: 0 1.5rem; }

#personal-information h2,
#other-information h2 {
  font-size: 1.3rem;
  margin: 0;
  color: #8bc34a;
  margin-bottom: 1.5rem; }
#personal-information h3,
#other-information h3 {
  color: #919496;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  margin: 0;
  margin-bottom: 0.5rem; }
#personal-information p,
#other-information p {
  color: #2e2f33;
  font-size: 0.95rem;
  font-weight: 100;
  margin: 0;
  margin-bottom: 1.5rem;
  text-align: justify;
  line-height: 25px; }
#personal-information a.btn,
#other-information a.btn {
  max-width: 290px;
  margin: 0 auto;
  display: block;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  background-color: #2e2f33;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 5rem;
  transition: 0.3s ease all; }
  #personal-information a.btn:hover,
  #other-information a.btn:hover {
    background-color: #46484e; }

@media (min-width: 769px) {
  #information-container {
    padding: 5rem 5rem 0 5rem; }

  #personal-information {
    padding: 0 1.5rem; } }

/*# sourceMappingURL=profile.css.map */
