#header-signup {
  text-align: center;
  padding: 1rem 0;
  position: relative;
  border-bottom: 1px solid #dfe0e6; }
  #header-signup h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0; }

@media (min-width: 768px) {
  #header-signup {
    padding: 1.5rem 0; }
    #header-signup h1 {
      font-size: 4rem; } }
.line-o {
  display: block;
  font-size: 0.875em;
  margin-bottom: 1em;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
  font-weight: bold;
  margin-top: 1rem; }

.line-o::before,
.line-o::after {
  width: 40%;
  height: 1px;
  background-color: #dfe0e6;
  content: "";
  margin: -5px 0 0 -20px;
  position: absolute;
  top: 75%;
  z-index: -1; }

.line-o::before {
  left: 10%; }

.line-o::after {
  left: 61%; }

a.homeActionButton {
  display: block;
  color: white;
  background-color: #dd4b39;
  font-weight: bold;
  letter-spacing: 2px;
  transition: 0.25s ease all; }
  a.homeActionButton:hover {
    background-color: #c43421; }
  a.homeActionButton:first-child {
    margin-bottom: 5px;
    background-color: #3b5998; }
    a.homeActionButton:first-child:hover {
      background-color: #324b81; }

@media (min-width: 768px) {
  #slogan {
    max-width: 450px; }
    #slogan a.homeActionButton {
      font-size: 1.3rem;
      height: auto;
      padding: 0; } }
@media (min-width: 1025px) {
  #slogan a.homeActionButton {
    font-size: 1rem;
    height: auto;
    padding: 0 2rem; } }
html {
  height: 100vh;
  font-family: "Lato", sans-serif; }

body {
  height: 100%; }

#slogan {
  padding-top: 2rem;
  text-align: center;
  margin: 0 auto;
  z-index: 1; }
  #slogan p {
    color: #1c1c1f;
    font-size: 1.3rem;
    text-align: center; }
  #slogan #terminos {
    font-size: 0.85em;
    margin-top: 2rem;
    text-align: left;
    color: grey; }
    #slogan #terminos a {
      color: #8bc34a; }

#slogan {
  text-align: left; }
  #slogan div.row {
    margin: 0; }
  #slogan div.input-field {
    padding: 0; }
  #slogan input {
    border: 1px solid #dfe0e6;
    margin: 0; }
  #slogan label {
    left: 0; }
  #slogan input[type="submit"] {
    text-transform: uppercase;
    width: 100%;
    height: 36px;
    font-weight: bold;
    color: white;
    background: #8bc34a;
    margin-top: 1rem;
    letter-spacing: 2px;
    transition: 0.25s ease all; }
    #slogan input[type="submit"]:hover {
      background-color: #77ac39; }

p#tienesCuenta {
  font-size: 1rem; }
  p#tienesCuenta a {
    color: #8bc34a; }

@media (min-width: 768px) {
  #header-signup {
    padding: 3rem 0; }
    #header-signup h1 {
      font-size: 4rem; }

  #slogan {
    max-width: 450px; }
    #slogan a.homeActionButton {
      font-size: 1.3rem;
      height: auto;
      padding: 0; } }
@media (min-width: 1025px) {
  #slogan h3 {
    font-size: 2rem; }
  #slogan a.homeActionButton {
    font-size: 1rem;
    height: auto;
    padding: 0 2rem; } }

/*# sourceMappingURL=signup.css.map */
