#nav-top-container {
  background-color: black; }

#nav-top {
  background-color: transparent;
  margin: 0 auto;
  display: block; }

div.nav-wrapper a.brand-logo {
  transform: none;
  left: inherit;
  padding-left: 1rem;
  font-size: 1.5rem; }
div.nav-wrapper a.button-collapse {
  float: right;
  padding-right: 1rem;
  font-size: 2.5rem; }
  div.nav-wrapper a.button-collapse i {
    font-size: 2rem; }

#mobile-demo a {
  padding: 0 1em 0 3em;
  position: relative; }
  #mobile-demo a i {
    position: absolute;
    float: none;
    left: 0.5rem;
    text-align: center;
    font-size: 1.5rem; }

#userOptions {
  top: 64px !important;
  width: 150px !important;
  right: 0;
  left: inherit !important; }
  #userOptions a {
    color: #8bc34a; }

@media (min-width: 769px) {
  #nav-top {
    width: 997px;
    max-width: 997px; }

  #mobile-demo {
    display: none !important; } }
@media (min-width: 1024px) {
  #nav-desktop a {
    font-weight: bold; }
  #nav-desktop .dropdown-button {
    color: #c1c3c6; }
    #nav-desktop .dropdown-button i {
      margin-left: 0.5rem; } }
@media (min-width: 1201px) {
  #nav-top {
    width: 1170px;
    max-width: 1170px; } }
#nav-main-container {
  background-image: -webkit-linear-gradient(left, #1c1c1c 0, #171717 100%);
  background-image: -o-linear-gradient(left, #1c1c1c 0, #171717 100%);
  background-image: linear-gradient(to right, #1c1c1c 0, #171717 100%);
  background-repeat: repeat-x;
  padding: 0; }

#nav-main nav {
  background: transparent;
  height: auto; }
#nav-main ul {
  height: auto;
  overflow: hidden; }
  #nav-main ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.005);
    border-top: 1px solid rgba(0, 0, 0, 0.025);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-top-color: rgba(255, 255, 255, 0.05); }
    #nav-main ul li:hover {
      border-left: 5px solid #8bc34a; }
      #nav-main ul li:hover a {
        color: #c1c3c6; }
      #nav-main ul li:hover i {
        color: white; }
    #nav-main ul li a {
      padding-left: 5rem;
      position: relative;
      color: #919496;
      font-weight: 100; }
    #nav-main ul li i {
      height: 20px;
      position: absolute;
      left: 2rem;
      top: 1.5rem;
      font-size: 1.3rem;
      color: #c1c3c6; }

#social {
  padding: 3rem 1rem; }
  #social h2 {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
    color: #c1c3c6;
    font-weight: 100; }
  #social ul {
    text-align: center;
    margin: 0; }
  #social li {
    text-align: center;
    display: inline-block; }
  #social i {
    font-size: 2rem;
    padding: 0 1rem;
    color: #8bc34a; }
    #social i:hover {
      color: #77ac39; }

@media (min-width: 769px) {
  body {
    background-image: -webkit-linear-gradient(#212c39, #121e3d 50%, #000);
    background-image: -o-linear-gradient(#212c39, #121e3d 50%, #000);
    background-image: linear-gradient(#212c39, #121e3d 50%, #000);
    background-repeat: no-repeat; }

  #main {
    width: 997px;
    max-width: 997px;
    margin: 0 auto; }

  #content {
    background: white;
    margin-bottom: 0; } }
@media (min-width: 1201px) {
  #main {
    width: 1170px;
    max-width: 1170px; } }

/*# sourceMappingURL=template.css.map */
