// Colors
$color-main: #8bc34a
$red: #f44336
$blue: #03a9f4
$orange: #ff9800


.regeneratePassword
  color: $blue
  filter: grayscale(0.6)
  -webkit-filter: grayscale(0.6)
  &:hover
    color: darken($blue, 10%)

.edit
  color: $orange
  filter: grayscale(0.6)
  -webkit-filter: grayscale(0.6)
  &:hover
    color: darken($orange, 10%)

.delete
  color: $red
  filter: grayscale(0.6)
  -webkit-filter: grayscale(0.6)
  &:hover
    color: darken($red, 10%)