// Colors
$color-main: #8bc34a

span.bold
  font-weight: bold

#advice
  padding: 1rem
  border-left: 5px solid $color-main
  background-color: lighten($color-main, 35%)
  margin-bottom: 1rem
  p
    color: $color-main
  a
    color: darken($color-main, 15%)
    text-decoration: underline
    &:hover
      color: darken($color-main, 25%)