// Colors
$grey-medium: #bdbdbd
$color-main: #8bc34a
$color-main-hover: #77ac39

$font-family: 'Raleway', sans-serif

#page-section
  background-color: $grey-medium
  h1
    color: white
    text-align: center
    font-size: 2rem
    margin: 0
    color: white
    border-bottom-left-radius: 5px
    padding: 0.5rem
    border-bottom-right-radius: 5px
    font-weight: 300

#content
  main
    padding: 2rem
    form
      input[type="submit"]
        background-color: $color-main
        width: 100%
        border-radius: 5px
        padding: 1rem
        color: white
        font-weight: bold
        text-transform: uppercase
        letter-spacing: 1px
        border: none
        &:hover
          background-color: $color-main-hover



// Mediaqueries
@media (min-width: 768px)
  #content
    main
      width: 80%
      margin: 0 auto
      padding: 4rem 2rem 2rem 2rem


@media (min-width: 1024px)
  // Hacemos que el contenido se adapte al ancho disponible
  #content-wrapper
    padding-left: 25%

@media (min-width: 1200px)
  #content-wrapper
    padding-left: 20%