// Mensaje de error que aparece cuando algo va mal a la hora de hacer acción rápida

$errorBackground: #c0392b

#error-message
  display: none
  padding: 0.2em 1.5rem
  position: relative
  width: 100%
  max-width: 100%
  background-color: $errorBackground
  border-bottom: 2px solid darken($errorBackground, 5%)
  border-top: 2px solid darken($errorBackground, 5%)
  p
    color: white
    text-align: center
    margin: 0 !important
  i
    //color: darken($errorBackground, 20%)
    position: absolute
    color: white
    top: 6px
    left: 1rem

  i:hover
    cursor: pointer