// Colors
$color-main: #8bc34a
$color-main-hover: #77ac39
$color-grey-light: #dfe0e6



#main-nav-container
  filter: grayscale(0.1)
  -webkit-filter: grayscale(0.1)
  background: $color-main-hover
  height: auto
  display: none
  ul
    overflow: hidden
    border-bottom: 5px solid #111
    padding: 0.5rem
    li
      display: block
      float: none
      a
        height: 4rem
        padding-left: 5rem
        position: relative
        font-size: 0.9rem
        &:hover,
        &:focus
          background-color: lighten($color-main, 5%)
          color: antiquewhite
        i
          position: absolute
          float: none
          top: 1.2rem
          height: 20px
          text-align: center
          font-size: 1.5rem
          &:first-child
            left: 1.3rem
            font-size: 0.6rem
          &:last-child
            left: 2rem



// Mediaqueries
@media (min-width: 1024px)
  #main-nav-container
    position: fixed
    background: #111
    display: block
    height: 100%
    width: 25%
    ul
      background: #77ac39

@media (min-width: 1200px)
  #main-nav-container
    width: 20%
