$dark-grey: #111
$font-family: 'Raleway', Sans-serif


*
  font-family: $font-family


#top-nav
  background: $dark-grey
  position: relative
  .brand-logo
    font-weight: bold
    font-size: 1.5rem
  button
    position: absolute
    background: transparent
    color: white
    left: 0
    top: 0
    border: 0

#adminActions
  display: none



// Mediaueries
@media (min-width: 1024px)
  #top-nav
    #trigger-mobile-menu
      display: none
    .brand-logo
      padding-left: 1rem
    #adminActions
      display: block
      float: right
      a
        margin-right: .5rem
        margin-left: .5rem
