// Colors
$color-main: #8bc34a
$color-main-hover: #77ac39
$color-grey-light: #dfe0e6
$color-fb: #3b5998
$color-fb-hover: #324b81
$color-tw: #1da1f2
$color-tw-hover: #0b7bc1
$color-gmail: #dd4b39
$color-gmail-hover: #c43421

#ordenar
  background: transparent
  border: none

#sortable
  li
    padding: 1rem
    padding-left: 5rem
    position: relative
    font-size: 2rem
    i
      position: absolute
      top: 1rem
      left: 1rem
      font-size: 3rem
    &:hover
      cursor: pointer
  li.facebook
    background-color: $color-fb
    color: lighten($color-fb, 40%)
    &:hover
      background-color: $color-fb-hover
  li.twitter
    background-color: $color-tw
    color: lighten($color-tw, 40%)
    &:hover
      background-color: $color-tw-hover