<section id="banner">
    <div class="container">
        <header class="slogan">
            <h1>Próximamente</h1>
            <p>Estará disponible la plataforma para la compra/venta de libros de segunda mano</p>
        </header>
        <a id="button-knowmore" class="waves-effect waves-light btn">Seguir leyendo</a>
    </div>
</section>