<!-- Viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1">



<!-- Materialize -->
<link rel="stylesheet" href="{{ asset('css/materialize.css') }}">

<!-- Import Google Icon Font -->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Import Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:200,400,800 " rel="stylesheet">

<!-- Awesome font -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">



<!-- Javascript needed -->
<script src="{{ asset('js/jquery.min.js') }}"></script>

<!-- JS header -->
<script src="{{ asset('js/app.js') }}"></script>
