<!-- Modal Structure -->
<div id="modal" class="modal">
    <div class="modal-content">
        <h4 id="modal-titulo"></h4>
        <p id="modal-mensaje"></p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
</div>