$color-fb: #3b5998
$color-fb-hover: #324b81
$color-gmail: #dd4b39
$color-gmail-hover: #c43421



a.homeActionButton
  display: block
  color: white
  background-color: $color-gmail
  font-weight: bold
  letter-spacing: 2px
  transition: 0.25s ease all
  &:hover
    background-color: $color-gmail-hover
  &:first-child
    margin-bottom: 5px
    background-color: $color-fb
    &:hover
      background-color: $color-fb-hover



// mediaqueries
@media (min-width: 768px)
  #slogan
    max-width: 450px
    a.homeActionButton
      font-size: 1.3rem
      height: auto
      padding: 0

@media (min-width: 1025px)
  #slogan
    a.homeActionButton
      font-size: 1rem
      height: auto
      padding: 0 2rem