// Colors
$color-main: #8bc34a
$color-main-hover: #77ac39
$color-grey-light: #dfe0e6
$color-fb: #3b5998
$color-fb-hover: #324b81
$color-gmail: #dd4b39
$color-gmail-hover: #c43421

$font-family-main: 'Lato', sans-serif

body
  font-family: $font-family-main


#banner
  padding: 0 2rem
  background-image: url('../../images/vintage-library.jpg')
  background-size: cover
  background-position: center
  height: 300px
  position: relative
  div.container
    position: relative
    height: 100%
  // Botón para saber más
  #button-knowmore
    position: absolute
    bottom: 0
    background-color: $color-main
    letter-spacing: 2px
    font-weight: bold
    color: white
    text-transform: uppercase
    left: 50%
    transform: translate(-50%,50%)
    border-radius: 500px
    width: 290px

// Contenedor del slogan
header.slogan
  text-align: center
  padding-top: 5rem
  // Título
  h1
    font-size: 2.5rem
    font-weight: bold
    color: white
    margin: 0
  // Frase
  p
    color: white
    margin: 1rem
    font-size: 1.1rem
    font-weight: 100
    letter-spacing: 1px


@media (min-width: 769px)
  header.slogan
    padding-top: 3rem
    h1
      font-size: 5rem
  #banner
    #button-knowmore
      bottom: 5rem

