// mixins
@mixin blur($ratio)
  -webkit-filter: blur($ratio)
  -moz-filter: blur($ratio)
  -ms-filter: blur($ratio)
  filter: blur($ratio)

// Blur overlay
#blur-overlay
  @include blur(10px)
  position: absolute
  top: 0
  bottom: 0
  left: 0
  height: 100%
  width: 100%
  background-image: url('../../images/home-bg.jpg')
  background-position: center
  background-size: cover