@import "star"


$color-grey: #bdbdbd
$color-gold: goldenrod


#books-list
  // Resultados encontrados
  header
    margin-top: 3rem
    h3
      font-weight: bold
      font-size: 1rem
      text-align: center
      text-transform: uppercase

  // Estructura <base> de cada libro
  li
    position: relative
    h2
      font-size: 1rem
      margin: 0
    // Cabecera
    .collapsible-header
      position: relative
      padding: 1.2rem 3rem 1.2rem 3rem
      img
        position: absolute
        left: 10px
        top: 10px
        max-height: 30px
      i
        color: #9e9e9e
        position: absolute
        top: 3px
        right: 6px
        margin: 0
    // Cuerpo, información desplegable
    .collapsible-body
      overflow: hidden
      padding: 1rem
      position: relative
      p
        padding: 0
        margin-bottom: 0.1rem

      // Género y autor
      span.bold
        font-weight: bold
        margin-left: .5rem

      // Publicacion
      .publicacion
        p
          font-style: italic
        span.grey
          color: #bdbdbd
          background-color: transparent !important


      .valoracion
        display: block
      // Links de preview e informacion completa
      .links
        margin-bottom: 2rem
        margin-top: 0.5rem
      a.link-book-info
        display: block
        text-transform: uppercase
        font-size: 0.8rem
        text-align: left
      .descripcion
        margin-top: 2rem
        text-align: justify

      // Botón de añadir
      .añadirLibro
        margin-top: 2rem
        float: right

@media (min-width: 768px)
  #books-list
    li
      .collapsible-body
        padding: 2rem
        .links
          margin: 0
          position: absolute
          right: 2rem
          top: 2.2rem
          line-height: 1.5rem
        a.link-book-info
          text-align: right

