$color-grey-light: #dfe0e6

// Content
#header-signup
  text-align: center
  padding: 1rem 0
  position: relative
  border-bottom: 1px solid $color-grey-light
  h1
    font-size: 2rem
    font-weight: bold
    margin: 0

// mediaqueries
@media (min-width: 768px)
  #header-signup
    padding: 1.5rem 0
    h1
      font-size: 4rem