$color-indicar-resultados: #444

// Tabla de los libros y 'ebooks'
#mislibros-table, #misebooks-table
  th
    text-align: right
  td
    height: 51px
    position: relative
    text-align: left
    > i
      color: #8bc34a
      font-size: 2rem
      &:hover
        cursor: pointer
    > img
      max-height: 30px
      position: absolute
      top: 10px
      left: 0

// Seccion del pagination
#mislibros-pagination-container, #misebooks-pagination-container
  p
    text-align: center
  ul.pagination
    text-align: center
    li
      text-align: center


/********************************
*******************************

@media (min-width: 1024px)
  // Incoporamos borde inferior de tabla y ajustamos texto e imagen
  #mislibros-table, #misebooks-table
    border-bottom: 1px solid #d0d0d0
    th
      text-align: center
    td
      text-align: center
      > img
        left: 25%
        top: 15px

  // Disponemos el texto y paginacion uno al lado del otro
  #mislibros-pagination-container, #misebooks-pagination-container
    padding: 1rem 0
    ul.pagination, p
      display: inline-block
    p
      margin: .5rem 0 0 0
      color: $color-indicar-resultados
    ul.pagination
      margin: 0
      float: right
