// Linia con la 'o'
.line-o
  display: block
  font-size: .875em
  margin-bottom: 1em
  position: relative
  text-align: center
  width: 100%
  z-index: 1
  font-weight: bold
  margin-top: 1rem
.line-o::before,
.line-o::after
  width: 40%
  height: 1px
  background-color: $color-grey-light
  content: ""
  margin: -5px 0 0 -20px
  position: absolute
  top: 75%
  z-index: -1
.line-o::before
  left: 10%
.line-o::after
  left: 61%