$color-main: #8bc34a
$color-main-hover: #77ac39



// Estilo del navegador superior para todas las resoluciones
#nav-top-container
  background-color: black
#nav-top
  background-color: transparent
  margin: 0 auto
  display: block


div.nav-wrapper
  a.brand-logo
    transform: none
    left: inherit
    padding-left: 1rem
    font-size: 1.5rem
  // Botón del menú (sandwich)
  a.button-collapse
    float: right
    padding-right: 1rem
    font-size: 2.5rem
    i
      font-size: 2rem

// Menu desplegable que solo se muestra en versión móvil
#mobile-demo
  a
    padding: 0 1em 0 3em
    position: relative
    i
      position: absolute
      float: none
      left: 0.5rem
      text-align: center
      font-size: 1.5rem

// Desegable que aparece al hacer click en el username
#userOptions
  top: 64px !important
  width: 150px !important
  right: 0
  left: inherit !important
  a
    color: $color-main

@media (min-width: 769px)
  #nav-top
    width: 997px
    max-width: 997px
  #mobile-demo
    display: none !important

// Dispositivos largos (landscape tablet and desktop)
@media (min-width: 1024px)
  #nav-desktop
    a
      font-weight: bold
    .dropdown-button
      color: #c1c3c6
      i
        margin-left: 0.5rem

@media (min-width: 1201px)
  #nav-top
    width: 1170px
    max-width: 1170px