$color-main: #8bc34a
$color-main-hover: #77ac39
$color-secciones: #919496
$color-iconos: #c1c3c6


// Contenedor del menú principal y su cabecera
#nav-main-container
  background-image: -webkit-linear-gradient(left,#1c1c1c 0,#171717 100%)
  background-image: -o-linear-gradient(left,#1c1c1c 0,#171717 100%)
  background-image: linear-gradient(to right,#1c1c1c 0,#171717 100%)
  background-repeat: repeat-x
  padding: 0

// Contenedor que engloba únicamente al navegador principal
#nav-main
  nav
    background: transparent
    height: auto
  ul
    height: auto
    overflow: hidden
    li
      display: block
      float: none
      border-bottom: 1px solid rgba(0,0,0,0.005)
      border-top: 1px solid rgba(0,0,0,0.025)
      border-bottom-color: rgba(0,0,0,0.2)
      border-top-color: rgba(255,255,255,0.05)
      &:hover
        border-left: 5px solid $color-main
        a
          color: $color-iconos
        i
          color: white
      a
        padding-left: 5rem
        position: relative
        color: $color-secciones
        font-weight: 100
      i
        height: 20px
        position: absolute
        left: 2rem
        top: 1.5rem
        font-size: 1.3rem
        color: $color-iconos

// Cabecera del menu principal
#social
  padding: 3rem 1rem
  h2
    font-size: 1.2rem
    margin: 0
    margin-bottom: 1rem
    text-align: center
    color: $color-iconos
    font-weight: 100
  ul
    text-align: center
    margin: 0
  li
    text-align: center
    display: inline-block
  i
    font-size: 2rem
    padding: 0 1rem
    color: $color-main
    &:hover
      color: $color-main-hover
