<!-- Menu vertical lateral, mostrado en dispositivos grandes -->
<div id="nav-main-container" class="col l3 hide-on-med-and-down">

    <div id="social">
        <h2>Nuestras redes sociales</h2>
        <ul>
            {% for social in socials %}
                <li><a href="{{ social.url }}"><i class="fa {{ social.icon }}" aria-hidden="true"></i></a></li>
            {% endfor %}
        </ul>
    </div>

    <div id="nav-main">
        <nav>
            <ul>
                {% for category in categories %}
                    <li><a href="{{ category.url }}"><i class="fa {{ category.icon }}" aria-hidden="true"></i>{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>