<section id="nav-top-container">
    <nav id="nav-top">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">My appLibrary</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars" aria-hidden="true"></i></a>

            <ul id="userOptions" class="dropdown-content">
                <li><a href="#!">Cuenta</a></li>
                <li class="divider"></li>
                <li><a href="/logout">Cerrar sesión</a></li>
            </ul>

            <ul id="nav-desktop" class="right hide-on-med-and-down">
                <li>
                    <a class="dropdown-button" href="#!" data-activates="userOptions">
                        {{ app.user.username }}
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

            <!-- Menú móvil -->
            <ul class="side-nav" id="mobile-demo">
                {% for category in categories %}
                    <li><a href="{{ category.url }}"><i class="fa {{ category.icon }}" aria-hidden="true"></i>{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</section>